In [1]:
import pandas

data= pandas.read_csv('Mall_Customers.csv')

In [2]:
data.isnull().sum()

CustomerID        0
Gender            4
Age               0
Annual Income     1
Spending Score    3
dtype: int64

In [6]:
data['Gender'].fillna('unknown', inplace=True)

avg= data['Annual Income'].mean()

data['Annual Income'].fillna('unknown', inplace=True)

avg= data['Spending Score'].mean()

data['Spending Score'].fillna('unknown', inplace=True)

/tmp/ipykernel_2670/927255537.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Gender'].fillna('unknown', inplace=True)
/tmp/ipykernel_2670/927255537.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Annual Income'].fillna('unknown', inplace=True)
/tmp/ipykernel_2670/927255537.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data['Annual Income'].fillna('unknown', inplace=True)
/tmp/ipykernel_2670/927255537.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Spending Score'].fillna('unknown', inplace=True)
/tmp/ipykernel_2670/927255537.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data['Spending Score'].fillna('unknown', inplace=True)

In [7]:
data.isnull().sum()

CustomerID        0
Gender            0
Age               0
Annual Income     0
Spending Score    0
dtype: int64

In [8]:
data.groupby('Gender































































































































































































































































































').size()

Gender
Female     109
Male        87
unknown      4
dtype: int64