In [16]:
# Unsupervised Ml
#Clustering. Train our model Without testing 

import pandas as pd
data=pd.read_csv('../DataScience/Mall_Customers.csv')
data.head(4)

   CustomerID  Gender  Age  Annual Income  Spending Score
0           1    Male   19           15.0            39.0
1           2    Male   21           15.0            81.0
2           3  Female   20           16.0             6.0
3           4  Female   23           16.0            77.0

In [17]:
#clean data up
data.isnull().sum()
#delete rows with null values
data.dropna(inplace=True)

In [18]:
data.isnull().sum()

CustomerID        0
Gender            0
Age               0
Annual Income     0
Spending Score    0
dtype: int64

In [20]:
#split our dataframe into columns we intend to use for clustering

data.head()

array=data.values

array

#array=data[:, 2:5]

array([[1, 'Male', 19, 15.0, 39.0],
       [2, 'Male', 21, 15.0, 81.0],
       [3, 'Female', 20, 16.0, 6.0],
       [4, 'Female', 23, 16.0, 77.0],
       [5, 'Female', 31, 17.0, 40.0],
       [6, 'Female', 22, 17.0, 76.0],
       [7, 'Female', 35, 18.0, 6.0],
       [8, 'Female', 23, 18.0, 94.0],
       [9, 'Male', 64, 19.0, 3.0],
       [10, 'Female', 30, 19.0, 72.0],
       [11, 'Male', 67, 19.0, 14.0],
       [12, 'Female', 35, 19.0, 99.0],
       [13, 'Female', 58, 20.0, 15.0],
       [14, 'Female', 24, 20.0, 77.0],
       [15, 'Male', 37, 20.0, 13.0],
       [16, 'Male', 22, 20.0, 79.0],
       [17, 'Female', 35, 21.0, 35.0],
       [18, 'Male', 20, 21.0, 66.0],
       [19, 'Male', 52, 23.0, 29.0],
       [20, 'Female', 35, 23.0, 98.0],
       [21, 'Male', 35, 24.0, 35.0],
       [22, 'Male', 25, 24.0, 73.0],
       [23, 'Female', 46, 25.0, 5.0],
       [24, 'Male', 31, 25.0, 73.0],
       [25, 'Female', 54, 28.0, 14.0],
       [26, 'Male', 29, 28.0, 82.0],
       [27, 'Female', 45, 28.0, 32.0],
       [28, 'Male', 35, 28.0, 61.0],
       [29, 'Female', 40, 29.0, 31.0],
       [30, 'Female', 23, 29.0, 87.0],
       [31, 'Male', 60, 30.0, 4.0],
       [32, 'Female', 21, 30.0, 73.0],
       [33, 'Male', 53, 33.0, 4.0],
       [34, 'Male', 18, 33.0, 92.0],
       [35, 'Female', 49, 33.0, 14.0],
       [36, 'Female', 21, 33.0, 81.0],
       [37, 'Female', 42, 34.0, 17.0],
       [38, 'Female', 30, 34.0, 73.0],
       [39, 'Female', 36, 37.0, 26.0],
       [40, 'Female', 20, 37.0, 75.0],
       [41, 'Female', 65, 38.0, 35.0],
       [42, 'Male', 24, 38.0, 92.0],
       [43, 'Male', 48, 39.0, 36.0],
       [44, 'Female', 31, 39.0, 61.0],
       [45, 'Female', 49, 39.0, 28.0],
       [46, 'Female', 24, 39.0, 65.0],
       [47, 'Female', 50, 40.0, 55.0],
       [48, 'Female', 27, 40.0, 47.0],
       [49, 'Female', 29, 40.0, 42.0],
       [50, 'Female', 31, 40.0, 42.0],
       [51, 'Female', 49, 42.0, 52.0],
       [52, 'Male', 33, 42.0, 60.0],
       [53, 'Female', 31, 43.0, 54.0],
       [54, 'Male', 59, 43.0, 60.0],
       [55, 'Female', 50, 43.0, 45.0],
       [56, 'Male', 47, 43.0, 41.0],
       [57, 'Female', 51, 44.0, 50.0],
       [58, 'Male', 69, 44.0, 46.0],
       [59, 'Female', 27, 46.0, 51.0],
       [60, 'Male', 53, 46.0, 46.0],
       [61, 'Male', 70, 46.0, 56.0],
       [62, 'Male', 19, 46.0, 55.0],
       [63, 'Female', 67, 47.0, 52.0],
       [64, 'Female', 54, 47.0, 59.0],
       [65, 'Male', 63, 48.0, 51.0],
       [66, 'Male', 18, 48.0, 59.0],
       [67, 'Female', 43, 48.0, 50.0],
       [68, 'Female', 68, 48.0, 48.0],
       [69, 'Male', 19, 48.0, 59.0],
       [70, 'Female', 32, 48.0, 47.0],
       [71, 'Male', 70, 49.0, 55.0],
       [72, 'Female', 47, 49.0, 42.0],
       [73, 'Female', 60, 50.0, 49.0],
       [75, 'Male', 59, 54.0, 47.0],
       [76, 'Male', 26, 54.0, 54.0],
       [77, 'Female', 45, 54.0, 53.0],
       [78, 'Male', 40, 54.0, 48.0],
       [79, 'Female', 23, 54.0, 52.0],
       [80, 'Female', 49, 54.0, 42.0],
       [81, 'Male', 57, 54.0, 51.0],
       [82, 'Male', 38, 54.0, 55.0],
       [83, 'Male', 67, 54.0, 41.0],
       [84, 'Female', 46, 54.0, 44.0],
       [85, 'Female', 21, 54.0, 57.0],
       [86, 'Male', 48, 54.0, 46.0],
       [87, 'Female', 55, 57.0, 58.0],
       [88, 'Female', 22, 57.0, 55.0],
       [89, 'Female', 34, 58.0, 60.0],
       [90, 'Female', 50, 58.0, 46.0],
       [91, 'Female', 68, 59.0, 55.0],
       [92, 'Male', 18, 59.0, 41.0],
       [93, 'Male', 48, 60.0, 49.0],
       [94, 'Female', 40, 60.0, 40.0],
       [95, 'Female', 32, 60.0, 42.0],
       [96, 'Male', 24, 60.0, 52.0],
       [97, 'Female', 47, 60.0, 47.0],
       [98, 'Female', 27, 60.0, 50.0],
       [99, 'Male', 48, 61.0, 42.0],
       [100, 'Male', 20, 61.0, 49.0],
       [101, 'Female', 23, 62.0, 41.0],
       [102, 'Female', 49, 62.0, 48.0],
       [103, 'Male', 67, 62.0, 59.0],
       [104, 'Male', 26, 62.0, 55.0],
       [105, 'Male', 49, 62.0, 56.0],
       [106, 'Female', 21, 62.0, 42.0],
       [107, 'Female', 66, 63.0, 50.0],
       [108, 'Male', 54, 63.0, 46.0],
       [109, 'Male', 68, 63.0, 43.0],
       [110, 'Male', 66, 63.0, 48.0],
       [111, 'Male', 65, 63.0, 52.0],
       [113, 'Female', 38, 64.0, 42.0],
       [114, 'Male', 19, 64.0, 46.0],
       [115, 'Female', 18, 65.0, 48.0],
       [116, 'Female', 19, 65.0, 50.0],
       [117, 'Female', 63, 65.0, 43.0],
       [118, 'Female', 49, 65.0, 59.0],
       [119, 'Female', 51, 67.0, 43.0],
       [120, 'Female', 50, 67.0, 57.0],
       [121, 'Male', 27, 67.0, 56.0],
       [122, 'Female', 38, 67.0, 40.0],
       [123, 'Female', 40, 69.0, 58.0],
       [124, 'Male', 39, 69.0, 91.0],
       [125, 'Female', 23, 70.0, 29.0],
       [126, 'Female', 31, 70.0, 77.0],
       [127, 'Male', 43, 71.0, 35.0],
       [128, 'Male', 40, 71.0, 95.0],
       [129, 'Male', 59, 71.0, 11.0],
       [130, 'Male', 38, 71.0, 75.0],
       [131, 'Male', 47, 71.0, 9.0],
       [132, 'Male', 39, 71.0, 75.0],
       [133, 'Female', 25, 72.0, 34.0],
       [134, 'Female', 31, 72.0, 71.0],
       [135, 'Male', 20, 73.0, 5.0],
       [136, 'Female', 29, 73.0, 88.0],
       [137, 'Female', 44, 73.0, 7.0],
       [138, 'Male', 32, 73.0, 73.0],
       [139, 'Male', 19, 74.0, 10.0],
       [140, 'Female', 35, 74.0, 72.0],
       [141, 'Female', 57, 75.0, 5.0],
       [142, 'Male', 32, 75.0, 93.0],
       [143, 'Female', 28, 76.0, 40.0],
       [144, 'Female', 32, 76.0, 87.0],
       [145, 'Male', 25, 77.0, 12.0],
       [146, 'Male', 28, 77.0, 97.0],
       [147, 'Male', 48, 77.0, 36.0],
       [148, 'Female', 32, 77.0, 74.0],
       [149, 'Female', 34, 78.0, 22.0],
       [152, 'Male', 39, 78.0, 88.0],
       [153, 'Female', 44, 78.0, 20.0],
       [154, 'Female', 38, 78.0, 76.0],
       [155, 'Female', 47, 78.0, 16.0],
       [156, 'Female', 27, 78.0, 89.0],
       [157, 'Male', 37, 78.0, 1.0],
       [158, 'Female', 30, 78.0, 78.0],
       [159, 'Male', 34, 78.0, 1.0],
       [160, 'Female', 30, 78.0, 73.0],
       [161, 'Female', 56, 79.0, 35.0],
       [162, 'Female', 29, 79.0, 83.0],
       [163, 'Male', 19, 81.0, 5.0],
       [164, 'Female', 31, 81.0, 93.0],
       [165, 'Male', 50, 85.0, 26.0],
       [166, 'Female', 36, 85.0, 75.0],
       [167, 'Male', 42, 86.0, 20.0],
       [168, 'Female', 33, 86.0, 95.0],
       [169, 'Female', 36, 87.0, 27.0],
       [170, 'Male', 32, 87.0, 63.0],
       [171, 'Male', 40, 87.0, 13.0],
       [172, 'Male', 28, 87.0, 75.0],
       [173, 'Male', 36, 87.0, 10.0],
       [174, 'Male', 36, 87.0, 92.0],
       [175, 'Female', 52, 88.0, 13.0],
       [176, 'Female', 30, 88.0, 86.0],
       [177, 'Male', 58, 88.0, 15.0],
       [178, 'Male', 27, 88.0, 69.0],
       [179, 'Male', 59, 93.0, 14.0],
       [180, 'Male', 35, 93.0, 90.0],
       [181, 'Female', 37, 97.0, 32.0],
       [182, 'Female', 32, 97.0, 86.0],
       [183, 'Male', 46, 98.0, 15.0],
       [184, 'Female', 29, 98.0, 88.0],
       [186, 'Male', 30, 99.0, 97.0],
       [187, 'Female', 54, 101.0, 24.0],
       [189, 'Female', 41, 103.0, 17.0],
       [190, 'Female', 36, 103.0, 85.0],
       [191, 'Female', 34, 103.0, 23.0],
       [192, 'Female', 32, 103.0, 69.0],
       [194, 'Female', 38, 113.0, 91.0],
       [195, 'Female', 47, 120.0, 16.0],
       [196, 'Female', 35, 120.0, 79.0],
       [198, 'Male', 32, 126.0, 74.0],
       [199, 'Male', 32, 137.0, 18.0],
       [200, 'Male', 30, 137.0, 83.0]], dtype=object)

In [21]:
x = array[:, 2:5]
x

array([[19, 15.0, 39.0],
       [21, 15.0, 81.0],
       [20, 16.0, 6.0],
       [23, 16.0, 77.0],
       [31, 17.0, 40.0],
       [22, 17.0, 76.0],
       [35, 18.0, 6.0],
       [23, 18.0, 94.0],
       [64, 19.0, 3.0],
       [30, 19.0, 72.0],
       [67, 19.0, 14.0],
       [35, 19.0, 99.0],
       [58, 20.0, 15.0],
       [24, 20.0, 77.0],
       [37, 20.0, 13.0],
       [22, 20.0, 79.0],
       [35, 21.0, 35.0],
       [20, 21.0, 66.0],
       [52, 23.0, 29.0],
       [35, 23.0, 98.0],
       [35, 24.0, 35.0],
       [25, 24.0, 73.0],
       [46, 25.0, 5.0],
       [31, 25.0, 73.0],
       [54, 28.0, 14.0],
       [29, 28.0, 82.0],
       [45, 28.0, 32.0],
       [35, 28.0, 61.0],
       [40, 29.0, 31.0],
       [23, 29.0, 87.0],
       [60, 30.0, 4.0],
       [21, 30.0, 73.0],
       [53, 33.0, 4.0],
       [18, 33.0, 92.0],
       [49, 33.0, 14.0],
       [21, 33.0, 81.0],
       [42, 34.0, 17.0],
       [30, 34.0, 73.0],
       [36, 37.0, 26.0],
       [20, 37.0, 75.0],
       [65, 38.0, 35.0],
       [24, 38.0, 92.0],
       [48, 39.0, 36.0],
       [31, 39.0, 61.0],
       [49, 39.0, 28.0],
       [24, 39.0, 65.0],
       [50, 40.0, 55.0],
       [27, 40.0, 47.0],
       [29, 40.0, 42.0],
       [31, 40.0, 42.0],
       [49, 42.0, 52.0],
       [33, 42.0, 60.0],
       [31, 43.0, 54.0],
       [59, 43.0, 60.0],
       [50, 43.0, 45.0],
       [47, 43.0, 41.0],
       [51, 44.0, 50.0],
       [69, 44.0, 46.0],
       [27, 46.0, 51.0],
       [53, 46.0, 46.0],
       [70, 46.0, 56.0],
       [19, 46.0, 55.0],
       [67, 47.0, 52.0],
       [54, 47.0, 59.0],
       [63, 48.0, 51.0],
       [18, 48.0, 59.0],
       [43, 48.0, 50.0],
       [68, 48.0, 48.0],
       [19, 48.0, 59.0],
       [32, 48.0, 47.0],
       [70, 49.0, 55.0],
       [47, 49.0, 42.0],
       [60, 50.0, 49.0],
       [59, 54.0, 47.0],
       [26, 54.0, 54.0],
       [45, 54.0, 53.0],
       [40, 54.0, 48.0],
       [23, 54.0, 52.0],
       [49, 54.0, 42.0],
       [57, 54.0, 51.0],
       [38, 54.0, 55.0],
       [67, 54.0, 41.0],
       [46, 54.0, 44.0],
       [21, 54.0, 57.0],
       [48, 54.0, 46.0],
       [55, 57.0, 58.0],
       [22, 57.0, 55.0],
       [34, 58.0, 60.0],
       [50, 58.0, 46.0],
       [68, 59.0, 55.0],
       [18, 59.0, 41.0],
       [48, 60.0, 49.0],
       [40, 60.0, 40.0],
       [32, 60.0, 42.0],
       [24, 60.0, 52.0],
       [47, 60.0, 47.0],
       [27, 60.0, 50.0],
       [48, 61.0, 42.0],
       [20, 61.0, 49.0],
       [23, 62.0, 41.0],
       [49, 62.0, 48.0],
       [67, 62.0, 59.0],
       [26, 62.0, 55.0],
       [49, 62.0, 56.0],
       [21, 62.0, 42.0],
       [66, 63.0, 50.0],
       [54, 63.0, 46.0],
       [68, 63.0, 43.0],
       [66, 63.0, 48.0],
       [65, 63.0, 52.0],
       [38, 64.0, 42.0],
       [19, 64.0, 46.0],
       [18, 65.0, 48.0],
       [19, 65.0, 50.0],
       [63, 65.0, 43.0],
       [49, 65.0, 59.0],
       [51, 67.0, 43.0],
       [50, 67.0, 57.0],
       [27, 67.0, 56.0],
       [38, 67.0, 40.0],
       [40, 69.0, 58.0],
       [39, 69.0, 91.0],
       [23, 70.0, 29.0],
       [31, 70.0, 77.0],
       [43, 71.0, 35.0],
       [40, 71.0, 95.0],
       [59, 71.0, 11.0],
       [38, 71.0, 75.0],
       [47, 71.0, 9.0],
       [39, 71.0, 75.0],
       [25, 72.0, 34.0],
       [31, 72.0, 71.0],
       [20, 73.0, 5.0],
       [29, 73.0, 88.0],
       [44, 73.0, 7.0],
       [32, 73.0, 73.0],
       [19, 74.0, 10.0],
       [35, 74.0, 72.0],
       [57, 75.0, 5.0],
       [32, 75.0, 93.0],
       [28, 76.0, 40.0],
       [32, 76.0, 87.0],
       [25, 77.0, 12.0],
       [28, 77.0, 97.0],
       [48, 77.0, 36.0],
       [32, 77.0, 74.0],
       [34, 78.0, 22.0],
       [39, 78.0, 88.0],
       [44, 78.0, 20.0],
       [38, 78.0, 76.0],
       [47, 78.0, 16.0],
       [27, 78.0, 89.0],
       [37, 78.0, 1.0],
       [30, 78.0, 78.0],
       [34, 78.0, 1.0],
       [30, 78.0, 73.0],
       [56, 79.0, 35.0],
       [29, 79.0, 83.0],
       [19, 81.0, 5.0],
       [31, 81.0, 93.0],
       [50, 85.0, 26.0],
       [36, 85.0, 75.0],
       [42, 86.0, 20.0],
       [33, 86.0, 95.0],
       [36, 87.0, 27.0],
       [32, 87.0, 63.0],
       [40, 87.0, 13.0],
       [28, 87.0, 75.0],
       [36, 87.0, 10.0],
       [36, 87.0, 92.0],
       [52, 88.0, 13.0],
       [30, 88.0, 86.0],
       [58, 88.0, 15.0],
       [27, 88.0, 69.0],
       [59, 93.0, 14.0],
       [35, 93.0, 90.0],
       [37, 97.0, 32.0],
       [32, 97.0, 86.0],
       [46, 98.0, 15.0],
       [29, 98.0, 88.0],
       [30, 99.0, 97.0],
       [54, 101.0, 24.0],
       [41, 103.0, 17.0],
       [36, 103.0, 85.0],
       [34, 103.0, 23.0],
       [32, 103.0, 69.0],
       [38, 113.0, 91.0],
       [47, 120.0, 16.0],
       [35, 120.0, 79.0],
       [32, 126.0, 74.0],
       [32, 137.0, 18.0],
       [30, 137.0, 83.0]], dtype=object)

In [28]:
#feed data into model


#sklearn has 3 algorithims
#k means
#k prototype
#k modes

from sklearn.cluster import KMeans

model=KMeans(n_clusters=12,random_state=42)

model.fit(x)

KMeans(n_clusters=12, random_state=42)

In [29]:
#find center points/ centroids

#see the 10 clusters
means= model.cluster_centers_
clusters=pd.DataFrame(means,columns=['Age','Income','SpendindScore'])

clusters

          Age      Income  SpendindScore
0   43.000000   46.095238      45.952381
1   32.580645   80.451613      82.709677
2   45.230769   98.923077      20.000000
3   24.615385   23.769231      85.769231
4   51.416667   25.166667      11.500000
5   23.291667   59.583333      49.041667
6   64.095238   53.190476      50.380952
7   37.466667   77.266667       9.800000
8   32.625000   23.375000      30.500000
9   33.833333  117.000000      80.166667
10  27.272727   30.727273      68.363636
11  46.941176   65.411765      45.823529

In [32]:
#view individual clusters

data['clusterno']=model.labels_

cluster1=data[data['clusterno']==1]
cluster1

     CustomerID  Gender  Age  Annual Income  Spending Score  no  clusterno
123         124    Male   39           69.0            91.0   1          1
125         126  Female   31           70.0            77.0   1          1
127         128    Male   40           71.0            95.0   1          1
129         130    Male   38           71.0            75.0   1          1
131         132    Male   39           71.0            75.0   1          1
133         134  Female   31           72.0            71.0   1          1
135         136  Female   29           73.0            88.0   1          1
137         138    Male   32           73.0            73.0   1          1
139         140  Female   35           74.0            72.0   1          1
141         142    Male   32           75.0            93.0   1          1
143         144  Female   32           76.0            87.0   1          1
145         146    Male   28           77.0            97.0   1          1
147         148  Female   32           77.0            74.0   1          1
151         152    Male   39           78.0            88.0   1          1
153         154  Female   38           78.0            76.0   1          1
155         156  Female   27           78.0            89.0   1          1
157         158  Female   30           78.0            78.0   1          1
159         160  Female   30           78.0            73.0   1          1
161         162  Female   29           79.0            83.0   1          1
163         164  Female   31           81.0            93.0   1          1
165         166  Female   36           85.0            75.0   1          1
167         168  Female   33           86.0            95.0   1          1
169         170    Male   32           87.0            63.0   1          1
171         172    Male   28           87.0            75.0   1          1
173         174    Male   36           87.0            92.0   1          1
175         176  Female   30           88.0            86.0   1          1
177         178    Male   27           88.0            69.0   1          1
179         180    Male   35           93.0            90.0   1          1
181         182  Female   32           97.0            86.0   1          1
183         184  Female   29           98.0            88.0   1          1
185         186    Male   30           99.0            97.0   1          1

In [34]:
data['clusterno']=model.labels_

cluster2=data[data['clusterno']==2]
cluster2

     CustomerID  Gender  Age  Annual Income  Spending Score  no  clusterno
164         165    Male   50           85.0            26.0   2          2
166         167    Male   42           86.0            20.0   2          2
168         169  Female   36           87.0            27.0   2          2
174         175  Female   52           88.0            13.0   2          2
176         177    Male   58           88.0            15.0   2          2
178         179    Male   59           93.0            14.0   2          2
180         181  Female   37           97.0            32.0   2          2
182         183    Male   46           98.0            15.0   2          2
186         187  Female   54          101.0            24.0   2          2
188         189  Female   41          103.0            17.0   2          2
190         191  Female   34          103.0            23.0   2          2
194         195  Female   47          120.0            16.0   2          2
198         199    Male   32          137.0            18.0   2          2

In [35]:
data['clusterno']=model.labels_

cluster3=data[data['clusterno']==3]
cluster3

    CustomerID  Gender  Age  Annual Income  Spending Score  no  clusterno
1            2    Male   21           15.0            81.0   3          3
3            4  Female   23           16.0            77.0   3          3
5            6  Female   22           17.0            76.0   3          3
7            8  Female   23           18.0            94.0   3          3
11          12  Female   35           19.0            99.0   3          3
13          14  Female   24           20.0            77.0   3          3
15          16    Male   22           20.0            79.0   3          3
19          20  Female   35           23.0            98.0   3          3
25          26    Male   29           28.0            82.0   3          3
29          30  Female   23           29.0            87.0   3          3
33          34    Male   18           33.0            92.0   3          3
35          36  Female   21           33.0            81.0   3          3
41          42    Male   24           38.0            92.0   3          3

In [36]:
data

     CustomerID  Gender  Age  Annual Income  Spending Score  no  clusterno
0             1    Male   19           15.0            39.0   8          8
1             2    Male   21           15.0            81.0   3          3
2             3  Female   20           16.0             6.0   8          8
3             4  Female   23           16.0            77.0   3          3
4             5  Female   31           17.0            40.0   8          8
..          ...     ...  ...            ...             ...  ..        ...
194         195  Female   47          120.0            16.0   2          2
195         196  Female   35          120.0            79.0   9          9
197         198    Male   32          126.0            74.0   9          9
198         199    Male   32          137.0            18.0   2          2
199         200    Male   30          137.0            83.0   9          9

[192 rows x 7 columns]

In [39]:
data[data['clusterno']== 3].to_csv("cluster3.csv")

In [40]:
data.to_csv('AllRows.csv')

In [41]:
data[data['clusterno']== 3].to_json("cluster3.json")

In [43]:
data.to_excel('Alldata.xlsx',engine='xlsxwriter')

In [45]:
data.drop(['no'], inplace=True,axis=1)

data

     CustomerID  Gender  Age  Annual Income  Spending Score  clusterno
0             1    Male   19           15.0            39.0          8
1             2    Male   21           15.0            81.0          3
2             3  Female   20           16.0             6.0          8
3             4  Female   23           16.0            77.0          3
4             5  Female   31           17.0            40.0          8
..          ...     ...  ...            ...             ...        ...
194         195  Female   47          120.0            16.0          2
195         196  Female   35          120.0            79.0          9
197         198    Male   32          126.0            74.0          9
198         199    Male   32          137.0            18.0          2
199         200    Male   30          137.0            83.0          9

[192 rows x 6 columns]